/* popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* sf pro rounded */
@import url(https://db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded+Regular);

/* responsive */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 769px) {


  /* jumbotron */
  #index-jumbotron-image {
    height: 600px;
    width: auto;
  }
  #leftjumbotron h1 {
    font-size: 35px;
  }

  #leftjumbotron p {
    font-size: 20px;
  }

  /* akhir jumbotron */

  /* axcess */
  body .excess{
    padding: 0 10px;
    text-align: center;
    
  }

  body .excess h1 {
    font-size: 35px;
    margin: auto;
  }

  #axcess-about {
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  #axcess-about img {
    align-items: center;
    justify-content: center;
    margin: auto;

  }

  body .excess p {
    font-size: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  /* akhir axcess */

  /* about */
  body .about h1 {
    font-size: 35px;
  }
  body .about p {
    font-size: 20px;
  }
  /* akhir about */

  /* partner */
  body .partner {
    margin-left:  20px;
    margin-right: 20px;
  }
  body .partner h1 {
    font-size: 35px;
    margin-right: 20px;
  }
  body .partner p {
    font-size: 20px;
  }
  /* akhir partner */

  /* activity */
  body .activity h1 {
    font-size: 35px;
    padding-left: 20px;
  }
  body .activity a {
    font-size: 20px;
    padding-left: 20px;
  }
  #activity-content {
    padding: 30px 50px;
  }

  /* join */
  body .join {
    margin: 50px 20px;
  }
  /* akhir join */

  /* documentation */
  #navlink .nav-item a {
    font-size: 15px;
  }
  body .lastnav {
    font-size: 15px;
    padding-left: 20px;
  }
  #documentation-content {
    padding: 30px 50px;
  }
  /* akhir documentation */

  /* video */
  body .video h1 {
    font-size: 35px;
  }
  body .video p {
    font-size: 20px;
  }
  /* akhir video */

  /* guru dan staff */
  body .staff h1 {
    font-size: 30px;
  }
  /* akhir guru dan staff */

  /* school bus */
  #buscard .card-title {
    font-size: 30px;
  }
  #buscard .card-text {
    font-size: 15px;
  }

  #documentation-item {
    padding: 0 50px;
  }
  #berita-navlink .nav-item a {
    font-size: 15px;
  }
  /* akhir school bus */

  /* school bus documentation */
  #doc_actifity-item {
    padding: 0 50px;
  }
  /* akhir school bus documentation */

  /* doc actifity school */
  body .doc_actifity .card-title {
    font-size: 20px;
  }
  body .doc_actifity .card-text {
    font-size: 15px;
  }
  /* akhir doc actifity school */

}

@media screen and (max-width: 991px) {
  /* navbar */
  header {
    background-color: #29a973;
    text-decoration: none;
    border-style: none;
  }
  #btn-ppob {
    text-align: center;
    justify-content: center;
  }
  #btnnavbar {
    width: 100%;
    display: inline-block;
  }
  #greenbtnnavbar {
    width: 100%;
    display: inline-block;
  }
  /* akhir navbar */

  /* jumbotron */
  #jumbotron-btn{
    width: 100%;
  }
  /* akhir jumbotron */

  /* axcess */
  #axcess-item .row {
    text-align: center;
  }
  /* akhir axcess */

  /* activity */
  #activity-content h5 {
    font-size: 18px;
  }
  #activity-content p {
    font-size: 15px;
  }
  /* akhir activity */

  /* join */
  body .join h1 {
    font-size: 35px;
  }

  body .join p {
    font-size: 25px;
  }
  /* akhir join */



  /* documentation content */
  #documentation-content h5 {
    font-size: 13px;
  }
  #documentation-content p {
    font-size: 10px;
  }
  /* documentation content */

  /* berita */
  #documentation-item h5 {
    font-size: 18px;
  }

  #buscard {
    padding: 0 10px;
  }

  #pagination p {
    font-size: 15px;
  }

  #pagination a {
    font-size: 15px;
  }

  /* detail berita */
  #news-title {
    font-size: 35px;
  }

  #date-news {
    font-size: 20px;
  }

  #artikellainya-item h5 {
    font-size: 18px;
  }
  body .artikellainya h1 {
    font-size: 30px;
  }

  #text-contact {
    padding: 0 10px;
  }

  
  #doc_actifity-item p{
    font-size: 15px;
  }

  #doc_actifity-item h5{
    font-size: 18px;
  }
}

/* akhir responsive */

/* navbar */
.navbar img {
  width: 158px;
  height: 38px;
  background-color: white;
  border-radius: 50px;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #444444;
  margin: 5px 0;
}

.navbar a.active {
  position: relative;
  display: inline-block;
}

.navbar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: -2px auto;
  width: 40px;
  height: 3px;
  background: #444444;
}

/* #lightnavbar a.active {
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  font-weight: 500;
  display: inline-block;

} */

#lightnavbar a.active {
  position: relative;
  display: inline-block;
}

#lightnavbar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: -2px auto;
  width: 40px;
  height: 3px;
  background: white;
}

#btnnavbar {
  background-color: white;
  color: #2ecb89;
  border-radius: 50px;
  border-style: none;
  padding: 5px 30px;
}

#greenbtnnavbar {
  color: white;
  background-color: #2ecb89;
  border-radius: 50px;
  border-style: none;
  padding: 5px 30px;
}

/* akhir navbar */

/* jumbotron */
.jumbotron {
  margin-top: -100px;
}

.jumbotron p {
  color: #787878;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.jumbotron h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

#index-jumbotron-image {
  height: 750px;
  width: auto;
}

.jumbotron img {
  margin-top: 20px;
  height: 100%;
  width: auto;
  bottom: 0;
}

#leftjumbotron {
  margin-top: 180px;
}

.jumbotron button {
  border-radius: 16px;
  width: 186px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  background-color: #2ecb89;
  border-color: transparent;
}
/*  akhhir jumbotron */

/* excess */
.excess {
  background-color: #2e4b3f;
}

.excess p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.excess h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

#axcess-about p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#axcess-about h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 500;
}

/* akhir excess */

/* carad */
/* .card button{
    border-radius: 16px;
    width: 186px;
    height: 56px;
} */

.about {
  margin-top: 100px;
}

.about button {
  border-radius: 16px;
  width: 186px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  background-color: #2ecb89;
  border-color: transparent;
}

.about h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

.about p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #787878;
}
/* akhir card */

/* partner */
.partner {
  margin-top: 120px;
  margin-bottom: 120px;
}

.partner h1 {
  font-size: 57px;
  margin-right: 10px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

.partner p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #787878;
  padding-left: 30px;

}

.partner img {
  height: auto;
  width: 100px;
}
/* akhir partner */

/* activity */
.activity a {
  font-size: 20px;
  text-decoration: none;
  color: #2ecb89;
  font-family: "Poppins", sans-serif;
}

.activity h1 {
  font-size: 48px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

.activity h5 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.activity p {
  font-size: 16px;
  color: #787878;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* akhir activity */

/* join */
.join {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
.join .container {
  background-color: #29a973;
  border-radius: 24px;
}

.join button {
  background-color: #48d198;
  width: 218px;
  height: 68px;
  border-style: none;
  border-radius: 16px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.join h1 {
  font-size: 48px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

.join p {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
/* akhir join */

/* documentation */
.documentation button {
  background-color: white;
  border-style: none;
}

#navlink a {
  color: #8f8f8f;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

#navlink a.active {
  border-bottom: 3px solid #8f8f8f;
  padding-bottom: 3px;
}

.documentation p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #787878;
}

.documentation h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

#navlink button:hover {
  text-decoration: grey underline 1px;
}

.lastnav {
  color: #2ed67b;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
/* akhir documentation */

/* footer */
.footer {
  background-color: #2e4b3f;
  margin-top: 100px;
}
footer h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}


#isicard p {
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#isicard a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
#mid-isicard p {
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#mid-isicard a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.copyright {
  border-top: white 1px solid;
}
/* akhir footer */

/* video profil */

#btn-play {
  height: 100px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#bgv {
  width: 100%;
}

.video {
  margin-top: 120px;
}
.video h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
  font-weight: 600;
}
.video p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #3a3b41;
}

.video iframe {
  border-radius: 24px;
  border-style: none;
}

.video {
  margin-bottom: 150px;
}
/* akhir video profil */

/* guru dan staff */
.staff h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
  font-weight: 600;
}

.staff h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.staff p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* akhir guru dan staff */

/* school bus */
.school_bus {
  margin-top: 100px;
}

#buscard h5 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

#buscard p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #3a3b41;
}

#buscard {
  border-style: none;
}

.readbus {
  text-decoration: none;
}

#berita-navlink a {
  color: #8f8f8f;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

#berita-navlink a.active {
  padding-bottom: 3px;
  border-bottom: 2px solid #1FA7FF;
 
}
#berita-navlink button:hover {
  text-decoration: #1FA7FF underline 1px;
}

#pagination {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  border: none;
  color: #787878;
}

.pagination a:active {
  color: blue;
}

/* akhir school bus */

/* second school bus */
#secondbuss {
  margin-top: -600px;
  transform: translateY(1000px);
}
.headingnews h1 {
  font-size: 56px;
  font-family: SF Pro Rounded Regular;
}
.headingnews h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}

.bg_secondbuss {
  width: 100%;
}

#secondbuss h3 {
  font-family: "Poppins", sans-serif;
}

.share {
  font-size: 24px;
}

/* akhir second school bus */

/* artikikel lainya */
.artikellainya {
  margin-top: 75px;
}

.artikellainya h1 {
  font-size: 40px;
  font-family: SF Pro Rounded Regular;
  font-weight: 700;
}

.artikellainya h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.artikellainya p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* akhir artikel lainya */

/* doc actifity school */
.doc_actifity {
  margin-top: 100px;
}

.doc_actifity h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.doc_actifity p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* akhir doc actifity school */

/* isi kontak */
.isikontak {
  margin-top: 100px;
}

.isikontak p {
  font-size: 24px;
}

.isikontak button {
  border-radius: 50px;
  width: 185px;
  height: 48px;
}
/* akhir isi kontak */
